html{
  height: 100%;
}

body {
  padding-top: 56px;
}

main {
  margin: 0px;
}

#home_buttons {
  max-width:500px
}

#copy {
  cursor: pointer;
  font-size: 10px;
}

#chatbox {
  margin: auto;
  background-color: white;
  border: 1px solid #909090;
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  width: 14.6rem;
  height: 210px;
}

#messages {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 180px;
  font-style: italic;
  font-size: 0.8em;
  padding: 2px;
  color: #555555;
}

#msgInput {
  margin-top: 5px;
  width: 100%;
  border: 0;
  border-top: 1px solid grey;
  font-size: 0.8em;
  color: #555555;
}
