{% extends "layout.html.jinja2" %}
{% set page_title = "Monopoly" %}

{% block body %}
    <div id = "container"></div>
    <script src="{{ url_for('static',filename='js/graphics/three.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/graphics/OrbitControls.js') }}"></script>
    <script src="{{ url_for('static',filename='js/graphics/helperFns.js') }}"></script>
    <script> init(); </script>
    <script>
    let gameId = {{ game_id }};
    let playerId = {{ player_id }};
    let playerName = "{{ player_name }}";
    //sockets(gameId, playerId, playerName)
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/socket.js') }}"></script>
{% endblock %}