{% extends "layout.html.jinja2" %}
{% set page_title = "Monopoly" %}

{% block body %}
    <div id = "container"></div>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lobby.css') }}">
    <!-- MODAL PLAY TURN -->
    <div class="modal fade" id="modalPlayTurn" tabindex="-1" role="dialog" aria-labelledby="modalPlayTurn" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">C'est à votre tour de jouer</h5>
                </div>
                <div class="modal-body">
                    <div class="my-3 text-center">
                        <button type="button" id="playTurn" class="btn btn-secondary" data-dismiss="modal">Lancer les dés</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL RECEIVE OFFER -->
    <div class="modal fade" id="modalReceiveOffer" tabindex="-1" role="dialog" aria-labelledby="modalReceiveOffer" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Vous avez reçu une offre !</b></h5>
                </div>
                <div class="modal-body">
                    <div  id="proposition" class="text-center">
                        TO BE FILLED
                    </div>
                    <div class="row my-3 text-center">
                        <div class="col-8 input-group mx-auto">
                           <button type="button" id="acceptOffer" class="btn btn-success" data-dismiss="modal">
                                J'accepte l'offre
                            </button>
                        </div>
                        <div class="col-4 text-center">
                            <button type="button" id="refuseOffer" class="btn btn-danger" data-dismiss="modal">
                                Je refuse l'offre
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL JAIL TURN -->
    <div class="modal fade" id="modalJailTurn" tabindex="-1" role="dialog" aria-labelledby="modalJailTurn" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vous êtes en prison</h5>
                </div>
                <div class="modal-body px-5">
                    <div class="row my-2">
                        <button type="button" id="jailTurnDouble" class="btn btn-secondary btn-block" data-dismiss="modal">
                            Tenter le double
                        </button>
                    </div>
                    <div class="row my-2">
                        <button type="button" id="jailTurnPay" class="btn btn-secondary btn-block" data-dismiss="modal">
                            Payer une amende de 50€ et jouer
                        </button>
                    </div>
                    <div class="row my-2">
                        <button type="button" id="jailTurnCard" class="btn btn-secondary btn-block" data-dismiss="modal">
                            Utiliser ma carte "Vous êtes libéré de prison"
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL QUESTIONS -->
    <div class="modal fade" id="modalQuestion" tabindex="-1" role="dialog" aria-labelledby="modalQuestion" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="margin-right: auto; margin-left: auto">
                    <h5 class="modal-title" id="modalQuestionLabel"></h5>
                </div>
                <div class="modal-body">
                    <div id="modalQuestionContent" class="text-center">
                    </div>
                    <div class="row my-4 text-center">
                        <div class="col-6"><button style="width:205px" type="button" id="modalQuestion1" class="btn btn-secondary" data-dismiss="modal"></button></div>
                        <div class="col-6"><button style="width:205px" type="button" id="modalQuestion2" class="btn btn-secondary" data-dismiss="modal"></button></div>
                    </div>
                    <div id="card" class="border border-dark" style="width:220px; margin-left: auto; margin-right: auto; margin-top: 10px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL INFO -->
    <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="modalInfo" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInfoLabel"></h5>
                </div>
                <div class="modal-body text-center">
                    <div id="modalInfoContent"></div>
                    <button type="button" class="btn btn-secondary my-3" data-dismiss="modal" id="modalInfoOk">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL BUY HOUSES -->
    <div class="modal fade" id="modalBuyHouses" tabindex="-1" role="dialog" aria-labelledby="modalBuyHouses" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalBuyHousesLabel">Acheter des maisons</h5>
                </div>
                <div class="modal-body">
                    <div id="modalBuyHousesContent" class="text-center" >
                        Voulez vous acheter des maisons sur votre terrain ?
                    </div>
                    <div class="row my-3 text-center">
                        <div class="col-8 input-group mx-auto">
                            <label for="nbHousesInput"></label><input id="nbHousesInput" type="number" class="form-control" min="0" max="5" value="0">
                            <div class="input-group-append">
                                <button type="button" id="modalBuyHousesYes" class="btn btn-secondary" data-dismiss="modal">
                                    Acheter des maisons
                                </button>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <button type="button" id="modalBuyHousesNo" class="btn btn-secondary" data-dismiss="modal">Non</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalMakeOffer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Proposition d'échange</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form>
                    <input name="request_type" type="hidden" value="join">
                    <div class="modal-body">
                        <p id = "text-offer">
                            Vous pouvez échanger des propriétés au joueur toto contre une ou plusieurs propriétés et/ou de l'argent.
                        </p>
                        <div class="form-group">
                            <div class="form-group" id = "properties_to_buy">
                                <label for="game_id">Propri&eacute;t&eacute;s demandées</label>
                            </div>
                            <label for="player_name_join">Transaction financière</label>
                            <div class="slidecontainer">
                                <label for="myRange"></label><input type="range" min="0" max="1500" value="0" class="slider" id="myRange">
                                <p>Montant proposé : <span id="demo"></span></p>
                            </div>
                            <div class="form-group" id = "properties_to_offer">
                                <label for="game_id">Propri&eacute;t&eacute;s offertes</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="modalSendOffer" class="btn btn-secondary" data-dismiss="modal">
                                    Soumettre l'offre
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        let gameId = {{ game_id }};
        let playerId = {{ player_id }};
        let playerName = "{{ player_name }}";
    </script>
    <script type = "module" src="{{ url_for('static',filename='js/graphics/three.js') }}"></script>
    <script type = "text/javascript" src="{{ url_for('static',filename='js/graphics/cannon.js') }}"></script>
    <script type = "text/javascript" src="{{ url_for('static',filename='js/notify.js') }}"></script>
    <script type = "module" src="{{ url_for('static',filename='js/graphics/OrbitControls.js') }}"></script>
    <script type = "module" src="{{ url_for('static',filename='js/graphics/dice.js') }}"></script>
    <script type = "module" src="{{ url_for('static',filename='js/sidebar.js') }}"></script>
    <script type = "module" src="{{ url_for('static',filename='js/graphics/helperFns.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="module" src="{{ url_for('static',filename='js/socket.js') }}"></script>
    <script type="module">
        // Will be used in the modals to trade
        import {openPropositionModal, openOfferModal} from '../static/js/socket.js'
        window.openPropositionModal = openPropositionModal;
        window.openOfferModal = openOfferModal;
    </script>

{% endblock %}
