<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Card</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div id="card" class="border border-dark" style="width:220px; margin-left: 10px; margin-top: 10px">
		<div id="box-title" class = "border border-dark" align="center" style="background-color: yellow; width : 200px; margin-top: 10px; margin-left: 10px">
			<h6><strong> Avenue des Champs Elysees </strong></h6>
		</div>
		<div id="rent" style="margin-left: 10px; font-size: 13px">
			<div id="no-house" style="margin-top: 8px">
				<strong> Terrain nu : </strong>
				<span> 10 $</span>
			</div>
			<div id="one-house">
				<strong> Avec 1 maison : </strong>
				<span> 20 $</span>
			</div>
			<div id="two-houses">
				<strong> Avec 2 maisons : </strong>
				<span> 30 $</span>
			</div>
			<div id="three-houses">
				<strong> Avec 3 maisons : </strong>
				<span> 40 $</span>
			</div>
			<div id="four-houses">
				<strong> Avec 4 maisons : </strong>
				<span> 50 $</span>
			</div>
			<div id="five-houses">
				<strong> Avec Hotel : </strong>
				<span> 100 $</span>
			</div>
		</div>
		<div class="border-top border-dark" style="font-size: 11px; margin-top: 5px; margin-left: 4px; margin-right: 4px">
			<div class="text-justify" style="margin-top: 4px; margin-bottom: 4px">
				Si un joueur possede <strong>TOUS</strong> les terrains d'un Groupe de couleur quelconque,
				le loyer des terrains nus de ce groupe est double.
			</div>
		</div>
		<div class="border-top border-dark" style="font-size: 12px; margin-left: 4px; margin-right: 4px">
			<div style="margin-top: 5px">
				<strong> Prix des maisons : </strong>
				<span> 10 $ </span>
			</div>
			<div>
				<strong> Prix d'un Hotel : </strong>
				<span> 10 $ + 4 maisons</span>
			</div>
		</div>
		<div id="hypotheque" align="center" style="font-size: 12px; margin-top: 6px; margin-bottom: 6px">
			<span> Valeur hypothecaire du terrain : </span>
			<span> 25 $</span>
		</div>
	</div>
</body>
</html>
